body {
  margin-top: 120px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar-inverse {
    background-color: #f1e4d1;
    font-weight: 900;
  }

nav ul {
  margin-bottom: 0px !important;

}
nav ul li {
  display: inline-block;
  padding: 0px;
  padding-bottom: 15%;
}

section p {
  line-height: 1.5;
  font-size: large;  
  text-align: center;
  margin: 30px;
  color: #4c6072;
}

section h2 {
  font-size: x-large;
  font-weight: 900;
  font-weight: bold;
  color: #4c6072;
}

section a {
  background-color: #52715f;
  margin-top: 2px;
}

.immagine {
   position: relative;
   border: 0;  
   width: 100%;
   height: 50%;
   margin: 0px;
}

h4 {
   position: absolute;
   color: #f1e4d1;
   font: bold 100px;
   text-decoration: 100px;
   padding:0px; 
   margin: 0px;      
   top: 15%;
   width: 100%;
}


#griglia > li {
display: inline-block;
width: 200px;
height: 200px;
margin: 25px;
margin-bottom: 35px;
background-color: #f1e4d1;
}

#container {
background: #f1e4d1;
margin-top: 30px;
text-align: center;
padding-bottom: 5%;
padding-right: 5%;
}

#container1 {
background: #f1e4d1;
margin-top: 30px;
padding: 10px;
width: 100%;
padding-bottom: 80px;
padding-right: 400px;
padding-left: 50px;
}

#container2 {
background: #f1e4d1;
margin-top: 25px;
padding: 10px;
width: 100%;
padding-bottom: 100px;
padding-left: 350px;
padding-right: 50px;
}

#container3 {
background: #f1e4d1;
margin-top: 50px;
margin-left: 220px;
padding: 30px;
width: 65%;
padding-right: 80px;
padding-left: 80px;
padding-bottom: 125px;
text-align: left;
}

#prog {
  text-align: left;
  margin-top: 50px;
  margin-right: 60px;
}

#griglia li p {
padding: 5px 5px 0 5px;
margin: 0;
font-size: 12px;
color: #4c6072;
}

table thead tr th {
text-align: center;  
  }
 body{
  text-align: center;
  line-height: 15px;
 }
header {
	padding: 0em 3em 0px 3em;
	text-align: center;
	background: #52715f;
	color: white;
}

h1 {
	padding: 0em;
}

a:hover {
	text-decoration: underline;
}
p , p a , footer a {
  font-weight: 300;
}
 
section, footer {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

nav ul li a {
  color: #52715f;
  text-decoration: none;
}

nav ul li.active {
  background-color: white;
}

nav ul li.active a {
  color:#244569;
}

div {
  color: #424242;
  line-height: 1;
  width: 100%;
} 

.wrapper{width:540px}

.immagini{
  width:540px;
  overflow:hidden
}

.immagini li{
  width:120px;
  height:120px;
  float:left;
  margin:0 20px 20px 0;
}

.immagini .end{margin-right:0}

#book {
  padding: 80px;
}
